@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.comments-section {
  width: 100%;
  border-bottom: 2px solid $s-color-mercury;

  &__comment-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__avatar-wrapper {
    padding-top: $full-unit;
    padding-right: $full-unit;
  }
  &__avatar-container {
    @include avatarContainer();
  }

  &__content {
    flex-grow: 1;
    padding-left: $full-unit;
    padding-top: $full-unit;
    // border: 1px solid red;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    @include mobile-subheader-font();
  }

  &__name {
    margin: 0;
    padding-bottom: 0.25rem;
  }

  &__date {
    color: $p-color-silver;
    margin: 0;
  }

  &__text {
    @include mobile-body-font();
    color: $s-color-bf-d-black;
    margin: 0;
    padding-bottom: $full-unit;
  }
}
