@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.header {
  width: 100%;

  &__video-wrapper-container {
    background-color: $s-color-bf-d-black;
    display: flex;
    justify-content: center;
  }
  &__video-wrapper {
    position: relative;
    display: flex;
  }
  &__video-player {
    aspect-ratio: 16 / 9;
    width: 100%;
    background-color: $s-color-bf-d-black;
    object-fit: cover;
  }
}
