@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.video-list {
  width: 100%;
  display: flex;
  justify-content: center;
  @include tablet() {
    justify-content: flex-start;
    width: 90%;
  }
  @include desktop() {
    width: 33%;
    border-left: 2px solid $s-color-mercury;
    padding-left: $full-plus-half-unit;
    padding-top: $full-unit;
  }
  &__list {
    width: 90%;

    @include tablet() {
      width: 50%;
    }
    @include desktop() {
      width: 100%;
    }
  }

  &__title {
    @include mobile-subheader-font();
    color: $p-color-silver;
    padding-top: $full-unit;
    padding-bottom: $full-unit;
    margin: 0;
    @include tablet() {
      @include desktop-section-header-font();
    }
  }

  &__container {
    padding: 0;
    margin: 0;
  }

  &__item {
    list-style-type: none;
    padding: 0;
    display: flex;
    margin-bottom: $full-unit;
  }

  &__thumbnail-container {
    aspect-ratio: 16/9;
    width: 40%;
    display: flex;
    border-radius: 4px;
    background-color: $p-color-bf-black;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    &:hover {
      opacity: 0.8;
      transition: opacity 0.3s ease;
    }
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      height: 100%;
      background-image: url("../../assets/icons/play.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 1.5rem;
      opacity: 0;
      transition: opacity 0.7s ease;
      z-index: 1;
    }
    &:hover::before {
      opacity: 1;
    }
  }

  &__thumbnail-image {
    object-fit: cover;
    width: 100%;
    position: relative;
  }

  &__content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    padding-left: $full-unit;
  }

  &__video-title {
    cursor: pointer;
    @include mobile-subheader-font();
    color: $p-color-bf-black;
    margin: 0;
    text-decoration: underline;
    text-decoration-color: #ffffff00;
    transition: text-decoration-color 0.3s ease;
    @include tablet() {
      @include desktop-section-header-font();
    }
    &:hover {
      text-decoration-color: $p-color-bf-black;
      transition: text-decoration-color 1s ease;
    }
  }

  &__video-author {
    @include mobile-body-font();
    margin: 0;
    @include tablet() {
      @include desktop-body-font();
    }
  }
}
