@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.comments {
  width: 100%;
  &__number-of-comments-text {
    padding-top: $half-unit;
    padding-bottom: $half-unit;
    @include mobile-subheader-font;
    @include tablet {
      @include desktop-section-header-font();
    }
    @include desktop {
      padding-bottom: 0;
    }
  }
  &__section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: $full-unit;
    border-bottom: 2px solid $s-color-mercury;
    @include tablet {
      padding-bottom: $full-plus-half-unit;
      padding-top: $half-unit;
    }
    @include desktop {
      box-sizing: border-box;
      padding-right: 5%;
    }
  }
  &__user-avatar {
    padding-top: $full-plus-half-unit;
    display: flex;
    padding-right: $full-unit;
    &--container {
      @include avatarContainer;
    }
    &--img {
      @include avatarImage;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    @include tablet {
      flex-direction: row;
      align-items: flex-end;
      justify-content: space-between;
      width: 93%;
    }
  }
  &__input-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    @include tablet {
      flex-grow: 1;
      padding-right: $full-plus-half-unit;
    }
  }
  &__form-title {
    @include mobile-subheader-font;
    color: $p-color-silver;
    padding-bottom: 0.25rem;
    @include tablet {
      @include desktop-section-header-font;
    }
  }
  &__form-input {
    background-color: $s-color-alabaster;
    padding: 0.75rem;
    border: 1px solid $p-color-silver;
    border-radius: 4px;
    min-height: 5rem;
    outline: none;
    @include tablet {
      min-height: 0;
    }
    &::placeholder {
      color: $p-color-bf-black;
    }
    &:focus {
      border: 2px solid $p-color-bf-blue;
    }
    &--invalid {
      border: 1px solid #d22d2d;
      &:focus {
        border: 1px solid #d22d2d;
      }
    }
  }
  &__button-wrapper {
    position: relative;
    margin-top: $full-unit;
    @include tablet {
      width: 25%;
    }
  }
  &__form-button {
    padding-top: 0.66rem;
    padding-bottom: 0.66rem;
    transition: 0.3s ease;
    @include button;
    @include tablet {
      @include desktop-label-button-font;
    }
    &--icon {
      width: 1.2rem;
    }
  }
}
