@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.comments {
  // border: 1px solid pink;
  display: flex;
  justify-content: center;
  width: 90%;
  padding-bottom: $full-unit;
  border-bottom: 2px solid $s-color-mercury;
  &__user-avatar {
    // border: 1px solid green;
    padding-top: $full-plus-half-unit;
    display: flex;
    width: 10%;
    &--container {
      @include avatarContainer();
    }
    &--img {
      @include avatarImage();
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    width: 90%;
    // border: 1px solid red;
  }
  &__input-wrapper {
    display: flex;
    flex-direction: column;
  }
  &__form-title {
    @include mobile-subheader-font();
    color: $p-color-silver;
    // border: 1px solid orange;
    padding-bottom: 0.25rem;
  }
  &__form-input {
    background-color: $s-color-alabaster;
    padding: 0.75rem;
    border: 1px solid $p-color-silver;
    border-radius: 4px;
    &::placeholder {
      color: $p-color-bf-black;
    }
  }
  &__button-wrapper {
    position: relative;
    margin-top: $full-unit;
  }
  &__form-button {
    @include button();
  }
}
